<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="female" formControlName="gender">Female
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="unknown" formControlName="gender">Third Gender
    </label>
  </div>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': hasControlError('username')}"
    class="form-control" formControlName="username" placeholder="Username">
    <div class="invalid-feedback">Please choose a user name</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': hasControlError('knownAs')}" class="form-control"
      placeholder="Known as" formControlName="knownAs">
    <div class="invalid-feedback" *ngIf="hasControlError('knownAs', 'required')">Known as is required</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': hasControlError('dateOfBirth')}" class="form-control"
      placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker [bsConfig]="bsDatepickerConfig">
    <div class="invalid-feedback" *ngIf="hasControlError('dateOfBirth', 'required')">Date of Birth is required</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': hasControlError('city')}" class="form-control"
      placeholder="City" formControlName="city">
    <div class="invalid-feedback" *ngIf="hasControlError('city', 'required')">City is required</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': hasControlError('country')}" class="form-control"
      placeholder="Country" formControlName="country">
    <div class="invalid-feedback" *ngIf="hasControlError('country', 'required')">Country is required</div>
  </div>

  <div class="form-group">
    <input type="password" 
    [ngClass]="{'is-invalid': hasControlError('password')}"
    class="form-control" formControlName="password" placeholder="Password">
    <div class="invalid-feedback" *ngIf="hasControlError('password', 'required')">Password is required</div>
    <div class="invalid-feedback" *ngIf="hasControlError('password', 'minlength')">Password must be at least 4 characters</div>
    <div class="invalid-feedback" *ngIf="hasControlError('password', 'maxlength')">Password cannot exceed 8 characters</div>
  </div>

  <div class="form-group">
    <input type="password" 
    [ngClass]="{'is-invalid': hasControlError('confirmPassword') || hasFormError('mismatch', 'confirmPassword')}"
    class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
    <div class="invalid-feedback" *ngIf="hasControlError('confirmPassword', 'required')">Confirm Password is required</div>
    <div class="invalid-feedback" *ngIf="hasFormError('mismatch', 'confirmPassword')">Confirm Password must match with the Password</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>